@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


*
    font-family: 'PT Sans', sans-serif

body,html
    margin: 0
    padding: 0

h1
    display: block
    margin: 0
    text-align: center

.header
    width: 100%
    background: #32ff7e
    height: 100px
    text-align: center
    a
        width: 80px
        height: 30px
        line-height: 30px
        background: #3ae374
        text-decoration: none
        color: #fff
        text-align: center
        margin: auto
        display: inline-block
        margin: 5px
        border-radius: 5px 0px
        border: solid 2px white

.feed
    margin: auto
    width: 500px
    background: #174e2c
    border-radius: 5px
    padding: 10px
    
    
.card
    margin:  auto
    text-align: center
    width: 450px
    color: white
    border: solid 3px #ffffff00
    border-radius: 5px
    padding: 10px
    box-sizing: border-box
    p 
        text-align: center
img 
    width: 300px

.publicar
    width: 300px
    margin: 10px auto
    background: #174e2c 
    box-sizing: border-box
    padding: 3px
    color: white
    border-radius: 5px 0px
    text-align: center

footer
    background: #32ff7e
    width: 100%
    color: white
    line-height: 80px
    height: 80px
    text-align: center
    font-size: 20px

.login-container
    width: 300px
    text-align: center
    background: #174e2c 
    label
        font-size: 20px
        color: white-space
    input
        width: 250px


@media (max-width: 500px )
    .feed
        width: 230px
    .card
        width: 230px
        padding: 3px
        border: none
    .publicar
        width: 250px
        input
            width: 200px
        textarea
            width: 200px
    